.Announcment {
  
  background-color:#141414;
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  height:35px;
}

.Announcment p {
  
  text-transform:uppercase;
  text-align:center;
  color:#FFFFFF;
  letter-spacing:0.1em;
  font-size:11px;
  font-family:Montserrat;
  font-weight:500;
}
.Announcment a {

  color:#FFFFFF;
  cursor:pointer;
    
}
.Underline:hover {
  text-decoration: underline;
}
 .Logo {
   text-align:center;
   padding:15px;
}
.SlideShow {
  text-align:center;
  margin:20px auto;
  padding:20px;
  max-height:450px;
  img{display: block;margin:auto;}
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}
  
  .Slideshow.slick-initialized {
    visibility: visible !important;
    opacity: 1 !important;    
}
